<style>
.com { 
    text-align: center;
    padding: 20px;
}

.bord{
	background: #FFFFFF;
	border: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	border-radius: 20px;
	margin-bottom: 5px;
	padding: 20px;
	margin-right: 15px;
	margin-left: 15px;
}

.ram
{
	margin-right: 15px;
	margin-left: 15px;
}

.time{
	text-align: right;
	opacity: 0.65;
}

.post{
	margin-left: 20px;
	margin-right: 20px;
}
#ed{
	margin-right: 15px;
	opacity: 0.65;
}
</style>
<br>
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Меню</h4>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/pages/html">HTML</a></li>
                            <li><a href="/pages/css">CSS</a></li>
                            <li><a href="/pages/javascript">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                
           

<div class="post">
<div id="ed"><% if current_user != nil and current_user.id == 1 %>
				<%= link_to "Edit",  edit_posts1_path %> or
				<%= link_to "Delete", posts1_path, data: {confirm: 'Rili deleted your post?'}, method: :delete %>
			<%end%>
</div>
<center><h1><%= @post1.title %></h1></center>
<p><%= sanitize @post1.body %></p>

<hr>
</div>

<% @comments.each do |comment|%>
<div class="ram">
<%= render 'postcomments/elem' %>
<%= link_to vote1_path(comment.id) do%><i class="glyphicon glyphicon-bell"></i><%end%>(<%=@votes[comment.id]%>)
</div>
<% end %>

	
<%= form_for :postcomment1, url: posts1_postcoment1s_path(posts1_id: @post1.id) do |f| %>
<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %> </div>
<% end %>
<div class="com">
	<p><%= f.label "Comment" %></p>
	<%= f.text_area :text,  class: "content-field", placeholder: "Add a comment"%><br />
 

 <p><%= f.submit "Send" %></p>
 </div>
<%end%>
 </div>
         </div>
    </div>
